cmake-build-debug/
build/
.idea/
*.aux
*.out
*.pdf
*.log
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.loa
*.synctex.gz
*.toc
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.dvi
*.lof
!tp/tp*/*.pdf
!exams/*/20[0-9][0-9]N.pdf
!exams/*/20[0-9][0-9]R.pdf
!exams/*/20[0-9][0-9]N-sol.pdf
!exams/*/20[0-9][0-9]R-sol.pdf
COMMIT.tex
.vscode
